Lab03/bb.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://codeleanr.vn"
            xmlns="http://xmlpowercorp"
            elementFormDefault="qualified">

    <xsd:element name="codelearn">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="to" type="xsd:string"/>
                <xsd:element name="from" type="xsd:string"/>
                <xsd:element name="subject" type="xsd:string"/>
                <xsd:element name="message" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>